streamlit
pandas
numpy
openpyxl
python-docx
PyPDF2
pdfplumber
python-pptx
altair
matplotlib
plotly
fpdf2
spacy>=3.7.0  # Versión específica para evitar conflictos
cython>=0.29.0  # Necesario para compilar Thinc
thinc>=8.2.0  # Versión compatible con spaCy 3.7+
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
