streamlit
pandas
numpy
openpyxl
python-docx
PyPDF2
pdfplumber
python-pptx
altair
matplotlib
plotly
fpdf2
spacy==3.7.4  # Versión compatible con Python 3.11
thinc==8.2.3   # Versión explícita para evitar conflictos
cython==0.29.36
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl  # Modelo de spaCy
